/*
 Stylesheet for Website
 Authors: Thamer Al-Merry
 Date: 28 June 2016
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre, a, strong, b, u, i, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, figcaption, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure, footer, header, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse; }

.button-red {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: #cb1f47;
  color: #fff;
  padding: 7px 15px;
  font-size: 16px; }
  .button-red:hover, .button-red:visited:hover {
    background-color: #a21939;
    cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase; }

h1, h2 {
  line-height: 1.1; }

h3, h4 {
  line-height: 1.3; }

h1 {
  font-size: 400%;
  letter-spacing: -2px; }

h2 {
  font-size: 250%;
  letter-spacing: -1px; }

h3 {
  font-size: 200%; }

h4 {
  font-size: 180%; }

h5 {
  font-size: 130%; }

h6 {
  font-size: 100%; }

.link {
  color: #273c72;
  text-decoration: underline;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .link:visited {
    color: #1a284c; }
  .link:hover, .link:visited:hover {
    color: #1a284c; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 15px; }

.col-1 {
  width: 16.66%; }

.col-2 {
  width: 33.33%; }

.col-3 {
  width: 50%; }

.col-4 {
  width: 66.66%; }

.col-5 {
  width: 83.33%; }

.col-6 {
  width: 100%; }

@media all and (max-width: 767px) {
  .col-1 {
    width: 33.33%; }
  .col-2 {
    width: 50%; }
  .col-3 {
    width: 83.33%; }
  .col-4 {
    width: 100%; }
  .col-5 {
    width: 100%; }
  .col-6 {
    width: 100%; }
  .row .col-2:last-of-type {
    width: 100%; }
  .row .col-5 ~ .col-1 {
    width: 100%; } }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.center {
  margin: 0 auto;
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.push-left {
  float: left; }

.push-right {
  float: right; }

.hidden {
  display: none; }
