/*
 Stylesheet for Website
 Authors: Thamer Al-Merry
 Date: 28 June 2016
*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, .top-wrapper .banner-text, pre, a, strong, b, u, i, ol, ul, li, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, figcaption, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, figcaption, figure, footer, header, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse; }

.button-red {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: #cb1f47;
  color: #fff;
  padding: 7px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600; }
  .button-red:hover, .button-red:visited:hover {
    background-color: #a21939;
    cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 600;
  text-transform: uppercase; }

h1, h2 {
  line-height: 1.1; }

h3, h4 {
  line-height: 1.3; }

h1 {
  font-size: 400%;
  letter-spacing: -2px; }

h2 {
  font-size: 250%;
  letter-spacing: -1px; }

h3 {
  font-size: 200%; }

h4 {
  font-size: 180%; }

h5 {
  font-size: 130%; }

h6 {
  font-size: 100%; }

@font-face {
  font-family: impregnablePU;
  src: url(../fonts/Impregnable_Personal_Use_Only.ttf); }

@font-face {
  font-family: helveticaNeue;
  src: url(../fonts/HelveticaNeue.ttf); }

@font-face {
  font-family: ubuntu;
  src: url(../fonts/ubuntu.light.ttf); }

.link {
  color: #273c72;
  text-decoration: underline;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease; }
  .link:visited {
    color: #1a284c; }
  .link:hover, .link:visited:hover {
    color: #1a284c; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 15px; }

.col-1 {
  width: 16.66%; }

.col-1-4 {
  width: 25%; }

.col-2 {
  width: 33.33%; }

.col-3 {
  width: 50%; }

.col-4 {
  width: 66.66%; }

.col-5 {
  width: 83.33%; }

.col-6 {
  width: 100%; }

@media (max-width: 767px) {
  .col-1-1 {
    width: 16.66%; }
  .col-1-2 {
    width: 66.66%; }
  .col-1 {
    width: 33.33%; }
  .col-2 {
    width: 50%; }
  .col-3 {
    width: 100%; }
  .col-4 {
    width: 100%; }
  .col-5 {
    width: 100%; }
  .col-6 {
    width: 100%; }
  .row .col-2:last-of-type {
    width: 100%; }
  .row .col-5 ~ .col-1 {
    width: 100%; } }

@media (max-width: 802px) {
  .col-1-4 {
    width: 100%; } }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

p, .top-wrapper .banner-text {
  font-family: helveticaNeue;
  font-size: 15px;
  color: #5f5f5f;
  line-height: 1.5;
  margin: 0 0 0.5em 0; }

strong {
  font-weight: 600; }

br {
  line-height: 1.2; }

img {
  max-width: 100%;
  height: auto; }

.center {
  margin: 0 auto;
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.push-left {
  float: left !important; }

.push-right {
  float: right !important; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.header-wrapper {
  font-family: helveticaNeue;
  padding: 0 100px; }
  .header-wrapper p, .header-wrapper .top-wrapper .banner-text, .top-wrapper .header-wrapper .banner-text {
    color: #273c72;
    line-height: 0.8;
    font-size: 13px; }
  .header-wrapper strong {
    font-size: 14px; }
  .header-wrapper p, .header-wrapper .top-wrapper .banner-text, .top-wrapper .header-wrapper .banner-text {
    margin-top: 5px; }
  .header-wrapper img.push-right {
    margin: 0 15px; }
  @media (max-width: 767px) {
    .header-wrapper .col-3:first-child {
      text-align: center; } }
  @media (max-width: 767px) {
    .header-wrapper .col-3:last-child {
      display: none; } }

nav {
  width: 100%;
  background-color: #e2f3fe;
  border-bottom: 1px solid #b8d5f1; }
  @media (max-width: 767px) {
    nav {
      margin: 65px 0 0 0;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background: #e2f3fe; } }

nav ul {
  margin: 0 auto;
  width: auto;
  list-style: none; }
  @media (max-width: 767px) {
    nav ul {
      margin: 0;
      padding: 0;
      width: 100%;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
      z-index: 15; } }
  nav ul li {
    font-family: ubuntu;
    font-weight: 600;
    display: inline-block;
    position: relative;
    z-index: 1; }
    @media (max-width: 767px) {
      nav ul li {
        display: block;
        position: relative;
        margin: 0; } }
    nav ul li a {
      display: block;
      padding: 20px 25px;
      text-align: center;
      color: #273c72;
      text-decoration: none;
      margin: 0 35px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      nav ul li a:hover {
        background-color: #d2ecfd;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      @media (max-width: 981px) {
        nav ul li a {
          margin: 0 5px; } }
      @media (max-width: 767px) {
        nav ul li a {
          display: table;
          margin: 0;
          padding: 15px 2px;
          color: #273c72;
          border-top: 1px solid rgba(0, 0, 0, 0.15);
          -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.03);
          -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.03);
          box-shadow: 0 1px 1px rgba(255, 255, 255, 0.03);
          text-shadow: none;
          width: 100%; } }
    nav ul li:hover ul {
      opacity: 1;
      max-height: 1000px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      @media (max-width: 767px) {
        nav ul li:hover ul {
          max-height: 0; } }

.mobile-header-wrapper {
  display: none; }
  @media (max-width: 767px) {
    .mobile-header-wrapper {
      font-family: helveticaNeue;
      display: block;
      position: relative;
      color: #273c72;
      background-color: #e2f3fe; } }
  .mobile-header-wrapper p, .mobile-header-wrapper .top-wrapper .banner-text, .top-wrapper .mobile-header-wrapper .banner-text {
    line-height: 0.8;
    font-size: 13px; }
  .mobile-header-wrapper .col-1-2 {
    border-left: 2px solid #b8d5f1;
    border-right: 2px solid #b8d5f1; }
    .mobile-header-wrapper .col-1-2 img, .mobile-header-wrapper .col-1-2 span {
      display: inline-block;
      margin: 0 10px; }

.mobile {
  display: none;
  margin: 0 auto;
  padding: 25px 0 0;
  background-color: #e2f3fe;
  color: #273c72;
  font-weight: 600;
  font-size: 40px;
  text-decoration: none;
  line-height: 0;
  z-index: 2; }
  @media (max-width: 767px) {
    .mobile {
      display: table; } }

.active {
  max-height: 9000px !important;
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
  transition: all 5s ease; }

.top-wrapper {
  position: relative;
  overflow: hidden;
  background-color: #e2f3fe; }
  .top-wrapper .col-3:first-child {
    margin: 100px 0; }
    @media (max-width: 767px) {
      .top-wrapper .col-3:first-child {
        text-align: center;
        margin: 0; } }
  .top-wrapper .col-3:last-child {
    padding-bottom: 0;
    line-height: 0; }
    @media (max-width: 767px) {
      .top-wrapper .col-3:last-child {
        text-align: center; } }
  .top-wrapper .banner-img {
    max-width: none; }
    @media (max-width: 767px) {
      .top-wrapper .banner-img {
        max-width: 100%; } }
  .top-wrapper .banner-heading {
    font-family: impregnablePU;
    font-size: 110px;
    color: #273c72; }
  .top-wrapper .banner-text {
    font-size: 16px; }

.top-middle-wrapper {
  padding: 50px 0;
  border-bottom: 1px solid #e6e6e6; }
  .top-middle-wrapper h4 {
    font-family: ubuntu;
    color: #cb1f47;
    font-weight: 400;
    margin-bottom: 15px; }

.middle-wrapper {
  padding: 100px 0 50px; }
  .middle-wrapper .col-6 {
    background: #e2f3fe;
    padding: 45px 15px; }
    .middle-wrapper .col-6 img {
      margin: -100px 0 15px 0; }
    .middle-wrapper .col-6 h5 {
      font-family: ubuntu;
      color: #273c72;
      font-weight: 600;
      margin-bottom: 15px; }
    .middle-wrapper .col-6 p, .middle-wrapper .col-6 .top-wrapper .banner-text, .top-wrapper .middle-wrapper .col-6 .banner-text {
      font-size: 13px;
      margin: 15px 0 25px; }
  .middle-wrapper .enquiry-section {
    margin: 50px 0 30px; }
    .middle-wrapper .enquiry-section h4 {
      font-family: ubuntu;
      color: #273c72;
      font-weight: 400;
      margin-bottom: 15px; }
    @media (max-width: 802px) {
      .middle-wrapper .enquiry-section {
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        padding: 25px 0 10px; } }
  .middle-wrapper ul.tabs {
    display: none; }
    @media (max-width: 802px) {
      .middle-wrapper ul.tabs {
        display: inline-block;
        margin: 0px;
        padding: 0px;
        list-style: none; } }
    .middle-wrapper ul.tabs li {
      color: #273c72;
      display: inline-block;
      font-size: 50px;
      cursor: pointer; }
    .middle-wrapper ul.tabs li:after {
      content: url("../img/unchecked.png"); }
    .middle-wrapper ul.tabs li.current {
      color: #273c72; }
    .middle-wrapper ul.tabs li.current:after {
      content: url("../img/checked.png"); }
  @media (max-width: 802px) {
    .middle-wrapper .tab-content {
      display: none; } }
  @media (max-width: 802px) {
    .middle-wrapper .tab-content.current {
      display: inherit; } }

.bottom-middle-wrapper {
  background: #e2f3fe; }
  @media (max-width: 767px) {
    .bottom-middle-wrapper .col-3 {
      padding-bottom: 0; } }
  .bottom-middle-wrapper .col-3 h5 {
    font-family: ubuntu;
    color: #273c72;
    font-weight: 600;
    margin-bottom: 15px; }
