/*
 Stylesheet for Website
 Authors: Thamer Al-Merry
 Date: 28 June 2016
*/

// Modules and Variables
@import "modules/base";

// Partials
@import "partials/mixins";
@import "partials/reset";
@import "partials/buttons";
@import "partials/typography";
@import "partials/grids";


// Global styles
html {
    font-family: $base-font-family;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

p {
    font-family: helveticaNeue;
    font-size: 15px;
    color: $base-font-color;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
}

strong {
    font-weight: $bold;
}

br {
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.push-left {
    float: left !important;
}

.push-right {
    float: right !important;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

// Header Wrapper
.header-wrapper {
    font-family: helveticaNeue;
    padding: 0 100px;

    p {
        color: $blue;
        line-height: 0.8;
        font-size: 13px;
    }

    strong {
        font-size: 14px;
    }

    p {
        margin-top: 5px;
    }

    img.push-right {
        margin: 0 15px;
    }

    .col-3:first-child {
        @include breakpoint(767) {
            text-align: center;
        }
    }

    .col-3:last-child {
        @include breakpoint(767) {
            display: none;
        }
    }
}

// Navigation Menu
nav {
  width: 100%;
  background-color: $lightblue-bg;
  border-bottom: 1px solid $blue-border;

  @include breakpoint(767) {
    margin: 65px 0 0 0;
    max-height: 0;
    overflow: hidden;
    @include transition(all .3s ease);
    background: $lightblue-bg;
  }
}

nav ul {
  margin: 0 auto;
  width: auto;
  list-style: none;

   @include breakpoint(767) {
      margin: 0;
      padding: 0;
      width: 100%;
      @include box-shadow(0, 1px, 3px, rgba(0, 0, 0, 0.7));
      z-index: 15;
    }

  li {
    font-family: ubuntu;
    font-weight: $bold;
    display: inline-block;
    position: relative;
    z-index: 1;

    @include breakpoint(767) {
      display: block;
      position: relative;
      margin: 0;
    }

    a {
      display: block;
      padding: 20px 25px;
      text-align: center;
      color: $blue;
      text-decoration: none;
      margin: 0 35px;
      @include transition(all .3s ease);

      &:hover {
        background-color: $blue-hover;
        @include transition(all .3s ease);
      }

      @include breakpoint(981) {
        margin: 0 5px;
      }

      @include breakpoint(767) {
        display: table;
        margin: 0;
        padding: 15px 2px;
        color: $blue;
        border-top: 1px solid rgba(0,0,0,.15);
        @include box-shadow(0, 1px, 1px, rgba(255, 255, 255, 0.03));
        text-shadow: none;
        width: 100%;
      }
    }

    &:hover ul {
      opacity: 1;
      max-height: 1000px;
      @include transition(all .3s ease);

      @include breakpoint(767) {
        max-height: 0;
      }
    }

  }
}

.mobile-header-wrapper {
    display: none;
    @include breakpoint(767) {
        font-family: helveticaNeue;
        display: block;
        position: relative;
        color: $blue;
        background-color: $lightblue-bg;
    }

    p {
        line-height: 0.8;
        font-size: 13px;
    }

    .col-1-2 {
        border-left: 2px solid $blue-border;
        border-right: 2px solid $blue-border;

        img, span {
            display: inline-block;
            margin: 0 10px;
        }
    }
}

.mobile {
  display: none;
  margin: 0 auto;
  padding: 25px 0 0;
  background-color: $lightblue-bg;
  color: $blue;
  font-weight: $bold;
  font-size: 40px;
  text-decoration: none;
  line-height: 0;
  z-index: 2;

  @include breakpoint(767) {
    display: table;
  }
}

.active {
    max-height: 9000px !important;
    @include transition(all 5s ease);
}

// Top Wrapper
.top-wrapper {
    position: relative;
    overflow: hidden;
    background-color: $lightblue-bg;

    .col-3:first-child {
        margin: 100px 0;

        @include breakpoint(767) {
          text-align: center;
          margin: 0;
        }
    }

    .col-3:last-child {
        padding-bottom: 0;
        line-height: 0;

        @include breakpoint(767) {
          text-align: center;
        }
    }

    .banner-img {
        max-width: none;

        @include breakpoint(767) {
          max-width: 100%;
        }
    }

    .banner-heading {
        font-family: impregnablePU;
        font-size: 110px;
        color: $blue;
    }

    .banner-text {
        @extend p;
        font-size: 16px;
    }
}

// Top-Middle Wrapper
.top-middle-wrapper {
    padding: 50px 0;
    border-bottom: 1px solid $gray;

    h4 {
        font-family: ubuntu;
        color: $red;
        font-weight: $regular;
        margin-bottom: 15px;
    }
}

// Middle Wrapper
.middle-wrapper {
    padding: 100px 0 50px;

    .col-6 {
        background: $lightblue-bg;
        padding: 45px 15px;

        img {
            margin: -100px 0 15px 0;
        }

        h5 {
            font-family: ubuntu;
            color: $blue;
            font-weight: $bold;
            margin-bottom: 15px;
        }

        p {
            font-size: 13px;
            margin: 15px 0 25px;
        }
    }

    .enquiry-section{
        margin: 50px 0 30px;

        h4 {
            font-family: ubuntu;
            color: $blue;
            font-weight: $regular;
            margin-bottom: 15px;
        }

        @include breakpoint(802) {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
            padding: 25px 0 10px;
        }
    }

    ul.tabs {
        display:none;

        @include breakpoint(802) {
            display: inline-block;
    		margin: 0px;
    		padding: 0px;
    		list-style: none;
        }

    	li {
        	color: $blue;
    		display: inline-block;
    		font-size: 50px;
    		cursor: pointer;
    	}

    	li:after {
    		content: url('../img/unchecked.png');
    	}

    	li.current {
    		color: $blue;
    	}

    	li.current:after {
    		content: url('../img/checked.png');
    	}
	}

	.tab-content {
        @include breakpoint(802) {
    		display: none;
        }
	}

	.tab-content.current {
        @include breakpoint(802) {
		    display: inherit;
        }
	}
}

// Bottom-Middle Wrapper
.bottom-middle-wrapper {
    background: $lightblue-bg;

    .col-3 {

        @include breakpoint(767) {
		    padding-bottom: 0;
        }

        h5 {
            font-family: ubuntu;
            color: $blue;
            font-weight: $bold;
            margin-bottom: 15px;
        }
    }
}

// Bottom Wrapper
.bottom-wrapper {
    margin: 30px 0;
}

// Footer
footer {
    margin: 15px 0 40px;

    .copyright-info {
        color: $gray / 1.5;
        font-size: 12px;
    }
}
