// Red buttons
.button-red {
    @include border-radius(15px);
    @include transition(background-color .3s ease);
    background-color: $red;
    color: $white;
    padding: 7px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: $bold;

    &:hover, &:visited:hover {
      background-color: $red / 1.25;
      cursor: pointer;
    }
}
