// Setup box sizing properties
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// Grid container
.container{
    width: 100%;
    max-width: 1200px;
}

// Clearfix
.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}

// Grid setup
[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 16.66%;
    padding: 15px;
}

.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

@media all and (max-width:767px){
    .col-1{ width: 33.33%;    }
    .col-2{ width: 50%;        }
    .col-3{ width: 83.33%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }

    .row .col-2:last-of-type{
        width: 100%;
    }

    .row .col-5 ~ .col-1{
        width: 100%;
    }
}
