// Absolute positioning
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

// Border radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Box shadow
@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow:$top $left $blur $color;
  -moz-box-shadow:$top $left $blur $color;
  box-shadow:$top $left $blur $color;
}

// Center align
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Font size
@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

// Opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Responsive breakpoints
@mixin breakpoint($point) {
  @if $point == 1300 {
    @media (max-width: 1300px) { @content; }
  }
  @else if $point == 981 {
    @media (max-width: 981px) { @content; }
  }
  @else if $point == 767 {
    @media (max-width: 767px) { @content; }
  }
}

// Transitions
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
