// Headings
h1, h2, h3, h4, h5, h6 { font-family: $heading-font-family; font-weight: $header-font-weight; text-transform: uppercase; }
h1, h2 { line-height: 1.1; }
h3, h4 { line-height: 1.3; }
h1 { font-size: 400%; letter-spacing: -2px; }
h2 { font-size: 250%; letter-spacing: -1px; }
h3 { font-size: 200%; }
h4 { font-size: 180%; }
h5 { font-size: 130%; }
h6 { font-size: 100%; }

// Custom Fonts
@font-face {
    font-family: impregnablePU;
    src: url(../fonts/Impregnable_Personal_Use_Only.ttf);
}
@font-face {
    font-family: helveticaNeue;
    src: url(../fonts/HelveticaNeue.ttf);
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/ubuntu.light.ttf);
}

// Links
.link {
  color: $blue;
  text-decoration: underline;
  @include transition(color .3s ease);

  &:visited {
    color: $blue / 1.5;
  }

  &:hover, &:visited:hover {
    color: $blue / 1.5;
  }
}
