// Headings
h1, h2, h3, h4, h5, h6 { font-family: $heading-font-family; font-weight: $header-font-weight; text-transform: uppercase; }
h1, h2 { line-height: 1.1; }
h3, h4 { line-height: 1.3; }
h1 { font-size: 400%; letter-spacing: -2px; }
h2 { font-size: 250%; letter-spacing: -1px; }
h3 { font-size: 200%; }
h4 { font-size: 180%; }
h5 { font-size: 130%; }
h6 { font-size: 100%; }

// Custom Fonts

@font-face {
    font-family: impregnablePU;
    src: url("http://db.onlinewebfonts.com/t/c27fe4a9fe5e185f8c2e4ae6d6001345.eot");
    src: url("http://db.onlinewebfonts.com/t/c27fe4a9fe5e185f8c2e4ae6d6001345.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/c27fe4a9fe5e185f8c2e4ae6d6001345.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/c27fe4a9fe5e185f8c2e4ae6d6001345.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/c27fe4a9fe5e185f8c2e4ae6d6001345.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/c27fe4a9fe5e185f8c2e4ae6d6001345.svg#ImpregnableW01-Regular") format("svg");
}
@font-face {
    font-family: helveticaNeue;
    src: url("http://db.onlinewebfonts.com/t/4b94982a9603dd89cf49dd9bcb0f0d60.eot");
    src: url("http://db.onlinewebfonts.com/t/4b94982a9603dd89cf49dd9bcb0f0d60.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/4b94982a9603dd89cf49dd9bcb0f0d60.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/4b94982a9603dd89cf49dd9bcb0f0d60.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/4b94982a9603dd89cf49dd9bcb0f0d60.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/4b94982a9603dd89cf49dd9bcb0f0d60.svg#Helvetica Neue") format("svg");
}
@font-face {
    font-family: ubuntu;
    src: url("http://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.eot");
    src: url("http://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/1c5965c2b1dcdea439b54c3ac60cee38.svg#Ubuntu") format("svg");
}

// Links
.link {
  color: $blue;
  text-decoration: underline;
  @include transition(color .3s ease);

  &:visited {
    color: $blue / 1.5;
  }

  &:hover, &:visited:hover {
    color: $blue / 1.5;
  }
}
